
*{
    margin: 0;
    padding: 0;
}

/* banner */
.banner {
    text-align: center;
    background-image: linear-gradient(to bottom, #00000000, #1a1111), url(images/donation1.jpg);
    background-size: cover;
    background-position: center;
    color: white; 
    padding: 150px 0;

}


.banner-title{
    font-weight: bold;
    font-size: 44px;
    margin: 24px;
}

.btn{
    margin: 20px 0;
    border: none;
    background-color: #FF5959;
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
}

/* donate-today */

.titles{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 70px;
}
.title{
    font-size: 50px;
    margin-bottom: 15px;
}

.donate-ditaill{
    text-align: center;
}

.donation-options{
    display: flex;
    margin: 50px 350px;
    list-style: none;
    gap: 10px;
}

.donation-amount{
    font-size: 24px;
    padding: 15px 30px;
    color: #707070;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.special-donation{
    color: #FF5959;
    border: 1px solid #FF5959;
    border-radius: 5px;
}

small{
    color: #B3B3B3;
}

hr{
    margin: 24px 280px;
    width: 50%;
}

/* our donate plan */

.Our-Donate-Plan{
    margin: 70px 100px;
}
.cards{
    display: flex;
    gap: 40px;
}
.card-1{
    background-color: #c6f0f5;
    padding: 5dvh 2%;
    width: 400px;
    border-radius: 10px;
}
.card-2{
    background-color: #ff8484;
    padding: 50px 2%;
    width: 400px;
    border-radius: 10px;
}
.card-3{
    background-color: #f8ffab;
    padding: 50px 2%;
    width: 400px;
    border-radius: 10px;
}
.card-img{
    width: 50px;
}

.card-title{
   margin: 14px 0;
   font-weight: bold;
}

/* Donation section */
.donation-section{
  margin: 200px;
}

.donation-info{
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.donation-text{
    margin: 0 50px;
}
.donation-title{
    font-size: 40px;
    font-weight: bold;
}

.donation-discription{
    margin: 20px 0;
}
/* footer */

footer{
    background-color: black;
    text-align: center;
    padding: 40px 20px;
}

.text-primary{
    color: #FF5959;
    margin-bottom: 20px;
}