
*{
    margin: 0;
    padding: 0;
}

/* banner */
.banner {
    text-align: center;
    background-image: linear-gradient(to bottom, #00000000, #1a1111), url(images/donation1.jpg);
    background-size: cover;
    background-position: center;
    color: white; 
    padding: 150px 0;
    margin-bottom: 150px;
}


.banner-title{
    font-weight: bold;
    font-size: 44px;
    margin: 24px;
}

.btn{
    margin: 20px;
    border: none;
    background-color: #FF5959;
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
}

/* donate-today */

.titles{
    text-align: center;
    margin-bottom: 70px;
}
.title{
    font-size: 50px;
    margin-bottom: 15px;
}

.donate-ditaill{
    text-align: center;
}

.donation-options{
    display: flex;
    margin: 50px 350px;
    list-style: none;
    gap: 10px;
}

.donation-amount{
    font-size: 24px;
    padding: 15px 30px;
    color: #707070;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.special-donation{
    color: #FF5959;
    border: 1px solid #FF5959;
    border-radius: 5px;
}

small{
    color: #B3B3B3;
}

hr{
    margin: 24px 280px;
    width: 50%;
}